﻿.col-border {
    border-right-style: solid;
    border-right-color: whitesmoke;
    padding: 20px;
    margin: 0px 10px;
}

.col-border-formation {
    height: 400px;
    width: 260px;
    border: #f8f9fa solid 2px;
    border-radius: 0px;
    padding: 0px;
    text-align: center;
    background-color: white;
    margin: 3px;
}

.add-avis
{
    max-width:none;
}

.block-note {
    border-radius: 2px;
    margin-top: -60px;
    margin-right: 15px;
   
   
}
.block-time {
    margin-left: 15px;
    background-color: #f8f9fa;
    display: contents;
    padding: 5px;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
}
.block-price {

    font-size: 15px;
    font-weight: bold;
}
.block-action {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.search-button {
    margin-left: -40px;
    border: solid 1px #cccccc;
    border-radius: 0px;
}