﻿@model FoodTruck.Models.CommandeViewModel
@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <h2> Prochaines Commande </h2>

        @if (((IEnumerable<FoodTruck.Data.Ligne_Commande>)Session["Commande"]).Count() > 0)
        {
            @Html.ActionLink("Vider le panier", "ResetCart", null, new { @class = "btn btn-warning", @style = "margin-right:10px;margin-bottom:10px;" })
            @Html.ActionLink("Toutes les Produits", "ToutesLesFormations", "Formation", null, new { @class = "btn btn-warning", @style = "margin-right:10px;margin-bottom:10px;" })

            foreach (var dto in ((IEnumerable<FoodTruck.Data.Ligne_Commande>)Session["Commande"]))
            {
                foreach (FoodTruck.Data.Produit prod in Model.listProduit)
                {
                    if (prod.id_Produit == dto.id_Produit)
                    {
                        <article class="info-block" style="position:relative; background-color:azure; text-align:center">
                            <h4>
                                @Html.ActionLink(prod.libellecommercial, "DetailsFormation", "Formation", null)
                            </h4>
                            <p>
                                @if (dto.prix_unitaire == 0)
                                {
                                    <span>Aucun Prix</span>
                                }
                                else
                                {
                                    double? a = @dto.prix_unitaire * @dto.quantite;
                                    <span>@a E</span>
                                }
                            </p>
                            <p>@prod.libellecommercial</p>
                            <p>@prod.description</p>
                            <div>
                                <a href="@Url.Action("Delete", "Cart", new { id = dto.id_Commande })">
                                    <div style=" background-color: navajowhite; right: 0; top: 0; height: 25px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; text-align: center; display: flex; justify-content: center; align-items: center;">
                                        <span class="glyphicon glyphicon-shopping-cart yellow"></span>
                                    </div>
                                </a>
                            </div>
                        </article>
                    }
                }
            }
            <div style="display:flex; justify-content:flex-end;">
                @Html.ActionLink("Commander", "ResetCart", null, new { @class = "btn btn-success", @style = "margin-top:10px;margin-bottom:10px;" })
            </div>
        }
        else
        {
            <center>
                <img src="https://www.seekpng.com/png/detail/117-1170538_404-your-cart-is-empty.png" />
            </center>
        }
        <br />

    </div>