﻿@model IEnumerable<FoodTruck.Data.Produit>
@{
    ViewBag.Title = "Index";
}

<h2>Catalogue des produits</h2>

<div class="row" style="margin-top: 30px;
    margin-bottom: 30px;">

    @using (Html.BeginForm("Index", "Catalogue", FormMethod.Get))
    {
        <div class="col-md-4" style="width: 260px;">
            @Html.DropDownList("id_Repas", (IEnumerable<SelectListItem>)ViewBag.Repas, new { @class = "form-control", @onchange = @"form.submit();" })
        </div>
        <div class="col-md-4" style="width: 260px;">
            @Html.DropDownList("id_FamilleRepas", (IEnumerable<SelectListItem>)ViewBag.FamilleRepas, new { @class = "form-control", @onchange = @"form.submit();" })
        </div>
        <div class="col-md-4" style="width: 260px; display:flex">
            <input type="text" class="form-control" id="search" name="searchBox">
           
            <button  class="btn btn-outline-warning waves-effect px-3 search-button" type="submit"  ><i class="glyphicon glyphicon-search" aria-hidden="true"></i></button>
        </div>

            }



        </div>
        <div class="row">
            @foreach (var produit in Model)
            {

                <div class="col-md-4 col-border-formation">
                    <img src="@produit.image" width="255" height="160" />

                    @if (produit.Ligne_Commande?.Commentaire.Count > 0)
                    {
                        var note = produit.Ligne_Commande.Commentaire.Average(c => c.note);

                        if (note <= 1)
                        {

                            <p style="text-align:right">
                                <span class=" badge badge-secondary block-note">
                                    @for (int i = 0; i < Math.Ceiling(note); i++)
                                    {
                                        <span class="glyphicon glyphicon-star" style="color:white;"></span>
                                    }
                                    @Html.Raw(note) / 5
                                </span>
                            </p>
                        }
                        else
                        {
                            if (note > 1 && note <= 3)
                            {
                                <p style="text-align:right">
                                    <span class=" badge badge-warning block-note " style="background-color:#ffc107;">
                                        @for (int i = 0; i < Math.Ceiling(note); i++)
                                        {
                                            <span class="glyphicon glyphicon-star" style="color:white;"></span>
                                        }
                                        @Html.Raw(note) / 5
                                    </span>
                                </p>
                            }
                            else
                            {
                                if (note > 3)
                                {
                                    <p style="text-align:right">
                                        <span class=" badge badge-success block-note" style="background-color:#28a745;">
                                            @for (int i = 0; i < Math.Ceiling(note); i++)
                                            {
                                                <span class="glyphicon glyphicon-star" style="color:white;"></span>
                                            }
                                            @Html.Raw(note) / 5
                                        </span>
                                    </p>
                                }
                            }
                        }






                    }
                    else
                    {
                        <p style="text-align:right">
                            <span class=" badge badge-secondary block-note" style="background-color:transparent">

                            </span>
                        </p>
                    }
                    <div style="padding-left:5px; text-align:left">
                        <h4>
                            @produit.libellecommercial
                        </h4>
                        <p>@produit.description</p>

                        <div class="block-time col-md-6" style="display: contents;"> <span class="glyphicon glyphicon-time" style="margin-right:10px;margin-top:2px;"></span>@produit.disponibiliteAafficher</div>
                        <div class="block-price col-md-6 "><span>@produit.prix_unitaire</span><span> Euro</span></div>

                    </div>

                    @if (produit.disponibilite.Contains(((int)DateTime.Now.DayOfWeek).ToString()))
                    {

                        <div class="block-action col-md-12">
                            <a href="@Url.Action("Add", "Catalogue", new { id = produit.id_Produit })" style="color:#4e4e4e">
                                <button type="button" class="btn btn-outline-warning waves-effect px-3"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></button>
                            </a>
                            <span style="font-size:15px;margin-left:10px;margin-right:10px;margin-top:5px">
                                @if ((FoodTruck.Data.Commande)Session["Commande"] != null)
                                {
                                    var prod = ((FoodTruck.Data.Commande)Session["Commande"]).Ligne_Commande?.Where(l => l.id_Produit == produit.id_Produit).FirstOrDefault();
                                    if (prod != null)
                                    {
                                        @Html.Raw(prod.quantite)
                                    }
                                    else
                                    {
                                        @Html.Raw(0)
                                    }

                                }
                                else
                                {
                                    @Html.Raw(0)
                                }
                            </span>
                            <a href="@Url.Action("Delete", "Catalogue", new { id = produit.id_Produit })" style="color:#4e4e4e">
                                <div class="">
                                    <button type="button" class="btn btn-outline-warning waves-effect px-3"><i class="glyphicon glyphicon-minus" aria-hidden="true"></i></button>

                                </div>
                            </a>


                        </div>
                    }




                </div>

            }
        </div>
       
        @section Scripts
{
            <link href="~/Content/FoodTruckStyle.css" rel="stylesheet" />
        }
