﻿@model FoodTruck.Models.AccueilViewModels
@{
    ViewBag.Title = "Accueil";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int a = 0; a < Model.accueilData.Actualite.Count; a++)
        {
            if (a == 0)
            {
                <li data-target="#myCarousel" data-slide-to=@a class="active"></li>
            }
            else
            {
                <li data-target="#myCarousel" data-slide-to=@a></li>
            }
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="align-content:center">
        @for(int a = 0; a < Model.accueilData.Actualite.Count; a++)
        {
            if(a == 0)
            {
                <div class="item active" style="height:400px; background-image:url(@Model.accueilData.Actualite[a].imageurl); background-position:center; background-repeat:no-repeat; align-content:center">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 style="color:black">@Model.accueilData.Actualite[a].title</h5>
                        <p style="color:white; text-shadow:initial">@Model.accueilData.Actualite[a].description</p>
                    </div>
                </div>
            }
            else
            {
                <div class="item" style="height:400px; background-image:url(@Model.accueilData.Actualite[a].imageurl); background-position:center; background-repeat:no-repeat; align-content:center">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 style="color:black">@Model.accueilData.Actualite[a].title</h5>
                        <p style="color:white; text-shadow:initial">@Model.accueilData.Actualite[a].description</p>
                    </div>
                </div>
            }
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container" style="padding-top:10px">

    @foreach (var commentaire in Model.accueilData.CommentaireList)
    {
        <article class="info-block col-md-3 col-sm-6">
            <img src="@commentaire.currentProduit.image" style="height:100px; align-self:center"/>
            <h4>@commentaire.currentProduit.libellecommercial</h4>
            <p>
                @if (commentaire.currentProduit.prix_unitaire == 0)
                {
                    <span>no prix</span>
                }
                else
                {
                    <span> @commentaire.currentProduit.prix_unitaire E</span>
                }

            </p>
            <p>
                @if (commentaire.currentCommentaire.note == 0)
                {
                    <span>Aucun Avis</span>
                }
                else
                {
                    <span class="glyphicon glyphicon-star yellow"></span>
                    if (commentaire.currentCommentaire.note > 1)
                    {
                        <span class="glyphicon glyphicon-star yellow"></span>
                    }
                    if (commentaire.currentCommentaire.note > 2)
                    {
                        <span class="glyphicon glyphicon-star yellow"></span>
                    }
                    if (commentaire.currentCommentaire.note > 3)
                    {
                        <span class="glyphicon glyphicon-star yellow"></span>
                    }
                    if (commentaire.currentCommentaire.note > 4)
                    {
                        <span class="glyphicon glyphicon-star yellow"></span>
                    }

                    <span>@commentaire.currentCommentaire.note / 5</span>
                }
            </p>
        </article>

    }
</div>